/*Styling for 3 HTML files HW2 Media Queries*/

body {
	font-size: 24px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	background-image:url(https://assets.awwwards.com/awards/images/2015/04/pattern.jpg);
}	

#header {
	font-color: #ffffff;
	padding: 20px 40px 40px 20px;
	margin-bottom: 200px;
	line-height: 60px;
	width: 100%;
	height: 20px;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	line-height: 4em;
}

#Nav {
	list-style: none;
	padding: 0px 10px 0 10px;
	margin: 0;
	float: left;
	font-color: #cccccc;
}

#menu {
	list-style: none;
	padding: 0;
	margin: 0;
	font-color: #cccccc;
}

#header #menu {
	padding-right: 200px;
	float: right;
	font-color: #cccccc;
	list-style:; none;
	display: inline;
}

#menu li {
	display: inline;
	padding: 0;
	margin: 0;
	font-color: #cccccc;
}

h1 {
	margin: -30px 0px 0px 100px;
	font-family: "Georgia", Times, Times New Roman, serif;
	background-color: #4aaaa5;
	font-weight: bold;
	color: white;
	font-weight: bold;
	width: 250px;
	height: 90px;
	float: left;
	text-align: center;
}

aside {
	float: right;
	width: 300px;
	height: 200px;
	padding: 30px;
	background-color: #ffffff;
	border-style: solid;
	margin: -585px 500px 0 0;
}


.content {
	background-color: white;
	font-color: #777777;
	padding: 20px;
	width: 600px;
	height: 500px;
	margin: -150px 50px 50px 120px;
}

#photo {
	margin: 25px;
}

#para1 {
	margin: 20px 20px 10px 0px;
	padding: 20px;
}

#para2 {
	margin: 20px;
}

h2 {
	color: #4aaaa5;
}

#line1 {
	line-width: 100%;
}

#line2 {
	line-width: 50%;
}

.connect {
	width: 270px;
	height: 150px;
	float: right;
	background-color: #ffffff;
	padding: 40px;
}

.Social {
	overflow: visible;
	width: 100px;
	height: 100px;
	float: right;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}


.Copy {
	text-align: center;
}

footer {
	background-color: #666666;
	color: #ffffff;
	text-align: center;
	width: 100%;
	font-size: 15px;
	height: 100px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	line-height: 6em;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -100px;
}

#portfolio {
	float: left;
	width: 150px;
	height: 150px;
	margin: 10px;
	border: 2px solid #cccccc;
}

#fill3 {
	height: 150px;
	width: 400px;
}

#fill1
#fill2 {
	color: #cccccc;
	width: 600px;
}

#button {
	margin: 10px;
}

@media only screen and (max-width: 980px) {
	
	#header 
	#menu {
		padding-right: 60px;
	}

	aside {
		margin: -740px 10px 0 0;
	}

	.content {
		width: 425px;
		height: 650px;
	}

	#photo {
		width: 350px;
		height: 300px;
	}

	footer {
		height: 200px;
	}
}

@media only screen and (max-width: 768px) {

	header {
		max-width: 100%;
	}

	h1 {
		margin-left: -5px;
	}	

	.content {
		width: 675px;
		height: 475px;
		max-width: 100%;
		margin: -150px 10px 10px 10px;
	}

	aside {
		width: 690px;
		height: 175px;
		max-width: 100%;
		margin: 0px 30px 0px 0px;
		padding: 10px;
	}

	#photo {
		width: 250px;
		height: 250px;
	}

	#icons {
		color: #4aaaa5;
	}

	#folio {
		height: 500px;
	}

	#tab1 {
		height: 100px;
	}

	#Portfolio {
		width: 75px;
		height: 75px;
		float:left;
	}

	.Social {
		width: 80px;
		height: 80px;
	}

	#menu {
		font-size: large;
		margin: -25px;
	}

	#fill3 {
		width: 200px;
		height: 300px;
	}

	#Nav {
	float: left;
	}

	footer {
		max-width: 100%;
		height: 250px;
	}

	#bf {
		height: 75px;
	}

	.Social {
		float: left;
	}

	#tabC {
		color: #4aaaaf;
	}

	#tablet {
		height: 600px;
	}
	
}

@media only screen and (max-width: 640px) {

	h1,
	#menu {
		width: 100%;
	}

	h1 {
		margin: -20px;
		height: 80px;
		line-height: 2.5em;
	}
	
	#About {
		font-size: medium;
		color: #4aaaa5;
	}

	#menu {
		background-color: #ffffff;
		width: 100%;
		height: 50px;
		margin: 0px;
		text-align: center;
		border-bottom-color: #666666;
		border-style: solid;
		line-height: 2.5em;
	}

	.content {
		width: 550px;
		height: 500px;
		font-size: medium;
		margin: -150px 10px 10px 10px;
	}

	aside {
		width: 550px;
		height: 100px;
		max-width: 100%;
		margin: 42px 36px 0px 0px;
		padding: 10px;
	}

	#photo {
		width: 450px;
		height: 300px;
	}

	#icons {
		color: #4aaaa5;
	}

	#folio {
		width: 550px;
		height: 900px;
	}

	#Portfolio {
		width: 400px;
		height: 200px;
	}

	#links {
		margin: -70px 0px 0px -82px;
		width: 700px;
	}

	#tablet {
		height: 600px;
	}

	.Social {
		width: 50px;
		height: 50px;
	}

	.phone {
		height: 1200px;
		width: 600px;
		background-color: #ffffff;
		margin-left: 10px;
	}


	#fill3 {
		width: 300px;
		height: 200px;
	}

	#Nav {
	position: relative;
	margin: 0px 60px 0px 60px;
	padding: 14px;
	line-height: 1.5em;
	}

	footer {
		max-width: 100%;
		height: 200px;
	}

	#bf {
		height: 75px;
	}

	#tabC {
		color: #4aaaaf;
	}

	.Copy {
		height: 75px;
		font-size: small;
	}

	.Social {
		float: left;
	}

	#mobile {
		padding: 0px 26px 0px 0px;
	}
	
}